* {
    margin: 0;
    padding: 0;
}

.clearfix::after {
    display: block;
    clear: both;
    content: "";
}

nav {
    width: 100%;
    margin-bottom: 20px;
}

nav ul {
    display: flex;
    justify-content: flex-end;
    list-style: none;
}

nav ul li {
    min-width: 15%;
    text-align: center;
}

nav ul li a {
    display: block;
    /* padding: 10px; */
    margin: 0 10px;
    text-decoration: none;
    color: black;
}

a:hover {
    /* color: #ff9e30; */
    /* color: rgb(169, 41, 169); */
    color: rgb(220, 61, 220);
}

div.wrapper {
    display: flex;
    max-width: 1200px;
    min-height: 150vh;
    margin: 20px auto;
    font-family: 'Roboto', sans-serif;
}

div.aside {
    width: 30%;
    background-color: #ff9e30;
    background: linear-gradient(to bottom, #ff9e30 0%, rgb(220, 61, 220) 100%);
}

.aside img {
    display: block;
    margin: 20px auto;
    width: 80%;
    border-radius: 50%;
    transition: .3s;
}

.aside img:hover {
    transform: rotate(3600deg);
    width: 95%;
}

/* stylowanie danych w czesci contact */
div.contact {
    margin: 25px 0;
    line-height: 20px;
}


/* stylowanie 3 nagłówków w aside */
.aside h3 {
    padding: 5px 0;
    margin: 20px 0;
    text-align: center;
    text-transform: uppercase;
    background-color: black;
    color: #ff9e30;
    letter-spacing: 1px;
}

/* boczne marginesy w paragrafach aside */
.aside p {
    padding: 0 30px;
}

/* stylowanie tekstu pod About me  */
.aside h3+p {
    /* min-height: 70vh; */
    text-align: justify;
}

/* stylowanie hobby */
.hobby {
    text-align: center;
}

/* stylowanie ikonek w hobby */
.hobby i {
    margin-bottom: 20px;
    padding: 15px;
    font-size: 45px;
    transition: .3s;
}

.hobby i:hover {
    color: #ff9e30;
    transform: rotate(360deg);
}

/* oddalenie srodkowej ikonki od 1 i 3 */
.hobby i:nth-of-type(2) {
    margin: 0 20px;
}

/* MAIN - cześć główna */
div.main {
    flex-grow: 1;
    padding: 40px 30px;
    background-color: beige;
}

/* stylowanie headera */
header {
    margin-bottom: 15vh;
}

header h1 {
    padding-bottom: 20px;
    padding-top: 20px;
    text-transform: uppercase;
    font-size: 50px;
    font-weight: 300;
}


.intro i {
    color: #ff9e30;
}

header span {
    color: rgb(169, 41, 169);
}

header p {
    font-size: 23px;
}

/* stylowanie pierwszej sekcji - Edukacja */

.intro {

    padding-bottom: 10px;
    border-bottom: 2px solid #ff9e30;
}

.intro i,
.intro h2 {
    float: left;
}

.intro i {
    font-size: 25px;
    padding-right: 20px;
}

/* pozycjonowanie elementów w  sekcji education */
/* flexbox do pozycjonowania w ROW ustawił obok siebie */
.text {
    display: flex;
    padding-top: 35px;
}

/* oddalenie kółek od dat i miast */
.text i {
    padding-right: 30px;
    font-size: 12px;
    color: #ff9e30;
}

/* animowanie obrazków w portfolio */
.text img {
    padding-left: 20px;
    width: 100%;
    transition: .3s;
}

.text img:hover {
    transform: scale(1.2);
}

.portfolio .description p {
    padding-left: 45px;
}

/* nadanie szerokości części z rokiem i miastem */
.info {
    width: 20%;
    padding-right: 20px;
}

.description {
    width: 60%;
}

/* miedzy opisami w prawej kolumie są odstepy */
.description p {
    padding-bottom: 10px;
}

/* pogrubienie nazw szkoly i uniwerku */
.description p:nth-of-type(1) {
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;
}

/* dodalam klase last do ostatniego wymienianego podpunktu zeby nadac mu margin czyli oddalenie od kolejnej sekcji */
.last {
    margin-bottom: 60px;
}

/* nagłówki poszczególnych sekcji drukowanymi */
main h2 {
    text-transform: uppercase;
}

.data {
    display: flex;
    padding-top: 35px;
    line-height: 25px;
}

.reference1 {
    padding-right: 200px;
}

.info a {
    color: black;
    text-decoration: none;
}